.input {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid blue;
  color: red;
  font-size: 12px;
  height: 30px;
  margin: 0;
  overflow: visible;
  padding-left: 5px;
  padding-top: 3px;
}
